@using Kaparasz.Web.ViewModels

@model ErrorViewModel
@{
    ViewData["Title"] = "Kaparász - Hiba";
}

<h1>Váratlan hiba történt</h1>
<h2 class="text-danger">Váratlan hiba történt az alkalmazásban.</h2>

<div>
    <a asp-controller="Home" asp-action="Index">Ugrás a kezdőoldalra</a>
</div>
